rizal
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}


body{
font-family:Poppins,sans-serif;
background:#080706;
color:white;
}


/* NAVBAR */

header{
position:absolute;
width:100%;
z-index:10;
}


nav{
padding:30px 8%;
display:flex;
justify-content:space-between;
align-items:center;
}


.logo{
font-size:28px;
font-weight:900;
letter-spacing:2px;
}


.logo span,
h1 span,
h2 span{
color:#b88645;
}


ul{
display:flex;
gap:35px;
list-style:none;
}


ul a{
color:#aaa;
text-decoration:none;
font-size:13px;
}


ul a:hover{
color:#b88645;
}



/* HERO */


.hero{

min-height:100vh;
padding:120px 8%;
display:flex;
align-items:center;
overflow:hidden;

background:
radial-gradient(circle at 80% 50%,#4a2c14,transparent 30%),
#080706;

}


.content{
max-width:650px;
}


.tag{
color:#b88645;
font-size:12px;
letter-spacing:3px;
font-weight:700;
}


h1{

font-size:clamp(55px,9vw,110px);
line-height:.9;
font-weight:900;
margin:25px 0;

}


.content p{
color:#aaa;
line-height:1.8;
font-size:14px;
}


.btn{

display:inline-block;
margin-top:30px;
padding:16px 35px;
background:#b88645;
color:white;
text-decoration:none;
font-size:12px;
font-weight:700;
letter-spacing:2px;

}



.coffee{

position:absolute;
right:12%;

}


.cup{

width:260px;
height:260px;
border-radius:50%;
background:#b88645;
display:flex;
align-items:center;
justify-content:center;
font-size:120px;

box-shadow:0 0 80px #b8864555;

}




/* MENU */


.menu-section,
.about,
.contact{

max-width:1100px;
margin:auto;
padding:120px 25px;

}


h2{

font-size:65px;
line-height:1;

}



.cards{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin-top:50px;

}


.card{

background:#111;
border:1px solid #222;
padding:30px;
transition:.3s;

}


.card:hover{

border-color:#b88645;
transform:translateY(-8px);

}


.card h3{

margin-bottom:15px;

}


.card p{

color:#888;
font-size:14px;
line-height:1.7;

}




/* ABOUT */


.about{

display:grid;
grid-template-columns:1fr 1fr;
gap:70px;
border-top:1px solid #222;

}


.about p:last-child{

color:#999;
line-height:2;

}




/* CONTACT */


.contact{

text-align:center;
border-top:1px solid #222;

}


.contact p{

color:#999;
margin:25px;

}



footer{

padding:35px 8%;
border-top:1px solid #222;

display:flex;
justify-content:space-between;

color:#777;
font-size:12px;

}



@media(max-width:700px){

ul{
display:none;
}


.hero{

padding:120px 25px;

}


.coffee{

opacity:.2;
right:-80px;

}


.cards,
.about{

grid-template-columns:1fr;

}


h2{

font-size:45px;

}


footer{

flex-direction:column;
gap:15px;

}

}
