:root {
  --black: #050505;
  --dark: #0b0d0f;
  --card: #101315;
  --white: #f5f7f8;
  --gray: #858b90;
  --line: rgba(255,255,255,.12);
  --green: #b8ff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


/* =========================
   NAVBAR
========================= */

.navbar {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 90px;

  padding: 0 6vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-family: "Space Grotesk", sans-serif;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -2px;
}

.brand span,
.footer-brand span {
  color: var(--green);
}

nav {
  display: flex;
  gap: 35px;
}

nav a {
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;

  transition: .3s;
}

nav a:hover {
  color: var(--green);
}

.nav-button {
  border: 1px solid var(--line);
  padding: 13px 20px;

  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.5px;

  transition: .3s;
}

.nav-button:hover {
  background: var(--green);
  color: #000;
}


/* =========================
   HERO
========================= */

.hero {
  min-height: 100vh;

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  padding: 140px 7vw 110px;

  background:
    radial-gradient(
      circle at 78% 50%,
      rgba(184,255,0,.10),
      transparent 25%
    ),
    #050505;
}

.hero-grid {
  position: absolute;
  inset: 0;

  opacity: .25;

  background-image:
    linear-gradient(var(--line) 1px, transparent 1px),
    linear-gradient(90deg, var(--line) 1px, transparent 1px);

  background-size: 70px 70px;

  mask-image: linear-gradient(
    to right,
    black,
    transparent
  );
}

.hero-content {
  position: relative;
  z-index: 5;

  max-width: 700px;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 30px;

  color: var(--gray);

  font-size: 9px;
  font-weight: 700;
  letter-spacing: 3px;
}

.status span {
  width: 7px;
  height: 7px;

  border-radius: 50%;

  background: var(--green);

  box-shadow:
    0 0 15px var(--green);
}

h1 {
  font-family: "Space Grotesk", sans-serif;

  font-size: clamp(60px, 9vw, 135px);
  line-height: .82;

  letter-spacing: -7px;
  font-weight: 700;
}

h1 strong {
  color: var(--green);
}

.hero-content > p {
  width: 390px;

  margin-top: 40px;

  color: var(--gray);

  font-size: 13px;
  line-height: 1.8;
}

.hero-buttons {
  display: flex;
  gap: 12px;

  margin-top: 35px;
}

.btn-primary,
.btn-outline {
  display: flex;
  align-items: center;
  gap: 25px;

  padding: 16px 22px;

  font-size: 9px;
  font-weight: 800;
  letter-spacing: 1.5px;

  transition: .3s;
}

.btn-primary {
  background: var(--green);
  color: #050505;
}

.btn-primary:hover {
  transform: translateY(-3px);
}

.btn-outline {
  border: 1px solid var(--line);
}

.btn-outline:hover {
  border-color: var(--green);
  color: var(--green);
}


/* =========================
   ROUTER VISUAL
========================= */

.router-area {
  position: absolute;

  right: 7vw;
  top: 50%;

  width: 480px;
  height: 480px;

  transform: translateY(-50%);
}

.circle {
  position: absolute;

  border: 1px solid rgba(184,255,0,.12);

  border-radius: 50%;
}

.circle-one {
  width: 440px;
  height: 440px;

  top: 20px;
  left: 20px;
}

.circle-two {
  width: 300px;
  height: 300px;

  top: 90px;
  left: 90px;

  border-style: dashed;
}

.router {
  position: absolute;

  width: 360px;
  height: 180px;

  left: 60px;
  top: 145px;

  border: 1px solid #34393c;

  border-radius: 12px;

  background:
    linear-gradient(
      145deg,
      #202528,
      #090a0b
    );

  box-shadow:
    0 40px 80px rgba(0,0,0,.7),
    0 0 60px rgba(184,255,0,.05);

  transform:
    perspective(700px)
    rotateY(-15deg)
    rotateX(8deg);
}

.router-top {
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
}

.router-logo {
  color: #ddd;

  font-family: "Space Grotesk", sans-serif;

  font-size: 25px;
  font-weight: 800;
  letter-spacing: -2px;
}

.lights {
  display: flex;
  gap: 9px;
}

.lights i {
  width: 6px;
  height: 6px;

  border-radius: 50%;

  background: var(--green);

  box-shadow:
    0 0 10px var(--green);
}

.router-ports {
  display: flex;
  gap: 12px;

  padding: 0 30px;
}

.router-ports span {
  width: 28px;
  height: 16px;

  border: 1px solid #444;

  background: #050505;
}

.router-line {
  position: absolute;

  left: 30px;
  right: 30px;
  bottom: 25px;

  height: 1px;

  background: #333;
}

.floating-card {
  position: absolute;

  right: 5px;
  bottom: 70px;

  padding: 16px 20px;

  background: rgba(10,12,13,.9);

  border: 1px solid var(--line);

  backdrop-filter: blur(10px);
}

.floating-card small {
  display: block;

  color: var(--gray);

  font-size: 7px;
  letter-spacing: 2px;
}

.floating-card strong {
  display: inline-block;

  margin-top: 5px;

  font-size: 11px;
}

.floating-card span {
  color: var(--green);

  margin-left: 10px;

  font-size: 8px;
}


/* =========================
   HERO BOTTOM
========================= */

.hero-bottom {
  position: absolute;

  bottom: 35px;
  left: 7vw;
  right: 7vw;

  display: flex;
  justify-content: space-between;

  padding-top: 20px;

  border-top: 1px solid var(--line);

  color: #666;

  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3px;
}


/* =========================
   SERVICES
========================= */

.services {
  padding: 140px 7vw;

  background: #090b0c;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: end;

  margin-bottom: 65px;
}

.section-top small,
.about small,
.contact small {
  color: var(--green);

  font-size: 9px;
  font-weight: 800;
  letter-spacing: 3px;
}

.section-top h2 {
  margin-top: 18px;

  font-family: "Space Grotesk", sans-serif;

  font-size: clamp(45px, 7vw, 85px);
  line-height: .9;

  letter-spacing: -5px;
}

.section-top h2 span {
  color: var(--green);
}

.section-top > p {
  max-width: 350px;

  color: var(--gray);

  font-size: 11px;
  line-height: 1.8;
}

.service-grid {
  display: grid;

  grid-template-columns:
    repeat(4, 1fr);

  border-top: 1px solid var(--line);
  border-left: 1px solid var(--line);
}

.service-card {
  position: relative;

  min-height: 360px;

  padding: 30px;

  border-right: 1px solid var(--line);
  border-bottom: 1px solid var(--line);

  transition: .4s;
}

.service-card:hover,
.service-card.active {
  background: #111516;
}

.service-card:hover {
  transform: translateY(-8px);
}

.number {
  color: #555;

  font-size: 9px;
  letter-spacing: 2px;
}

.icon {
  margin-top: 55px;

  color: var(--green);

  font-size: 40px;
}

.service-card h3 {
  margin-top: 25px;

  font-family: "Space Grotesk", sans-serif;

  font-size: 19px;
  letter-spacing: -1px;
}

.service-card p {
  margin-top: 15px;

  color: var(--gray);

  font-size: 10px;
  line-height: 1.8;
}

.service-card a {
  position: absolute;

  left: 30px;
  bottom: 30px;

  font-size: 8px;
  font-weight: 800;
  letter-spacing: 1.5px;

  color: #bbb;
}

.service-card a:hover {
  color: var(--green);
}


/* =========================
   ABOUT
========================= */

.about {
  min-height: 650px;

  position: relative;

  display: flex;
  align-items: center;

  padding: 120px 12vw;

  background:
    radial-gradient(
      circle at 80% 50%,
      rgba(184,255,0,.08),
      transparent 25%
    ),
    #050505;
}

.about-number {
  position: absolute;

  top: 80px;
  left: 7vw;

  color: #555;

  font-size: 9px;
  letter-spacing: 3px;
}

.about-content {
  max-width: 750px;
}

.about-content h2 {
  margin-top: 20px;

  font-family: "Space Grotesk", sans-serif;

  font-size: clamp(50px, 8vw, 100px);

  line-height: .85;
  letter-spacing: -6px;
}

.about-content h2 span {
  color: var(--green);
}

.about-content > p {
  max-width: 480px;

  margin-top: 40px;

  color: var(--gray);

  font-size: 12px;
  line-height: 2;
}

.stats {
  display: flex;

  gap: 60px;

  margin-top: 50px;
}

.stats div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stats strong {
  font-family: "Space Grotesk", sans-serif;

  font-size: 30px;

  color: var(--green);
}

.stats span {
  color: #666;

  font-size: 7px;
  font-weight: 700;
  letter-spacing: 2px;
}


/* =========================
   CONTACT
========================= */

.contact {
  padding: 150px 7vw;

  text-align: center;

  background: var(--green);

  color: #050505;
}

.contact small {
  color: #111;
}

.contact h2 {
  margin-top: 20px;

  font-family: "Space Grotesk", sans-serif;

  font-size: clamp(60px, 10vw, 130px);

  line-height: .8;
  letter-spacing: -7px;
}

.contact h2 span {
  color: white;
}

.contact p {
  margin: 35px auto;

  max-width: 400px;

  font-size: 12px;
  line-height: 1.8;
}

.whatsapp-button {
  display: inline-flex;

  align-items: center;
  gap: 30px;

  padding: 18px 25px;

  background: #050505;
  color: white;

  font-size: 9px;
  font-weight: 800;
  letter-spacing: 2px;

  transition: .3s;
}

.whatsapp-button:hover {
  transform: translateY(-4px);
}

.whatsapp-button b {
  color: var(--green);
}


/* =========================
   FOOTER
========================= */

footer {
  min-height: 100px;

  padding: 30px 7vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid var(--line);
}

.footer-brand {
  font-family: "Space Grotesk", sans-serif;

  font-size: 25px;
  font-weight: 800;

  letter-spacing: -2px;
}

footer p {
  color: #555;

  font-size: 7px;
  letter-spacing: 1.5px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #777;

  font-size: 8px;
  letter-spacing: 1px;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 950px) {

  nav {
    display: none;
  }

  .router-area {
    opacity: .25;
    right: -100px;
  }

  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 600px) {

  .navbar {
    height: 75px;
  }

  .nav-button {
    padding: 11px 14px;
  }

  .hero {
    padding: 130px 7vw 100px;
  }

  h1 {
    font-size: 19vw;
    letter-spacing: -4px;
  }

  .hero-content > p {
    width: 100%;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .router-area {
    display: none;
  }

  .hero-bottom {
    overflow: hidden;
    gap: 25px;
    justify-content: flex-start;
    white-space: nowrap;
  }

  .hero-bottom span:nth-child(n+4) {
    display: none;
  }

  .services {
    padding: 90px 7vw;
  }

  .section-top {
    display: block;
  }

  .section-top > p {
    margin-top: 25px;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    min-height: 330px;
  }

  .about {
    padding: 100px 8vw;
  }

  .stats {
    gap: 25px;
  }

  .stats strong {
    font-size: 23px;
  }

  .contact {
    padding: 110px 7vw;
  }

  footer {
    flex-direction: column;
    gap: 25px;

    text-align: center;
  }

}
